<!DOCTYPE html>
<html>
  <head>
    <title>acid-auth-ws2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= bootstrap_flash %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
